body {
  margin: 0;
  padding: 0;
}

body.dark   { background-color: #073642 }
body.light  { background-color: #EEE }

textarea {
  border: 0;
  font-family: prestige-elite-std, Menlo, Consolas, Monaco, "Andale Mono", "Bitstream Vera Sans Mono", monospace;
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 2em 25%;
  position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
  resize: none;
  text-align: left;
}

textarea:focus {
  outline: none;
}

body.dark textarea {
  background-color: #073642;
  color: #93A1A1;
  font-weight: 400;
}

body.light textarea {
  background-color: #FDF6E3;
  color: #586E75;
  font-weight: 700;
}

@media only screen and (max-device-width: 480px) {
  textarea {
    padding: 0.5em !important;
  }
}
